/* Aqui colocamos el font de google fonts*/
body {
    font-family: 'Montserrat', sans-serif;
}

/* 👀 Aqui empieza el Header de la barra de navegación */
header {
    background: #bbbbbb;
    padding: 20px 0;
}

.box {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase; /*Esto permite que el estilo siempre será en mayúsculas*/
    color: black;
    font-weight: bold; /*Pone el texto en negritas*/
    font-size: 22px;/*Cambia el tamaño del texto*/
    text-decoration: none;/*Elimina el estilo por defecto que da la etiqueta <a> */
}

nav a:hover { /* hover captura el movimiento del mouse cuando se posiciona sobre este elemento*/
    color: #c78c19;
    text-decoration: underline; /* underline subraya el texto*/
}

/* 👀 Aquí empieza el boy de index*/

.banner {
    width: 100%; /* una vez que asignamos un ID a un elemento no se puede volver a asignar a otro elemento de la misma página */
}

.main-section {
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.main-title{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    transition: 400ms;
}

.main-title:hover {
    color: rgba(0, 0, 255, 0.7); /*El cuarto valor es el % de la opacidad*/
    font-size: 35px;
}

/*
.main-title::first-letter { /*Este seudoelemento solo afecta a la primer letra

}
*/
.main-section p {
    margin: 0 0 1em;
    text-align: justify;
}

.tools {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.main-block strong {
    font-weight: bold;
}

.main-block em {
    font-style: italic;
}


/* Ubicación */
.map-container{ /*Centramos correctamente el mapa*/
    width: 940px;
    margin: 0 auto;
}
.map p{
    margin: 0 0 2em;
    text-align: center;
}
.map {
    padding: 3em 0; /*3em es 3 el tamaño de la fuente configurada por defecto*/
    background: linear-gradient(#fefefe, #888888); /*Esto permite crear un degradado(angulo, color1(%), color 2, color"n*)*/
    /*background: radial-gradient(orange 50%, blue, red);/*Esta es ptra forma de crear un degradado pero circular*/
}

/* Diferenciales*/
.diferencials{
    padding: 3em 0;
    background: #888888;
}

.diferencials-content {
    width: 640px;
    margin: 0 auto;
}

.diferencials-list {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5; /*Sirve para agregar un espacio entre las lineas de cada objeto de la lista. 1.5 es la medida*/
}

.items::before { /*Esto agrega algo antes del elemento dentro de la clase "item*/
    content: "⭐";
}

.items:first-child { /*Esta es una seudoclase. Esto es para aplicar el estilo solo al primer elemento de la clase "item*/
    font-weight: bold;
}

.diferfencials-image{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 10px 10px black; /* Los primeros valores son para el ancho de la sombra arriba y abajo, el tercero para la difuminación, el cuarto para la expansión y el quinto para el color .Los números en positivo son hacia abajo y derecha de la imagen*/
}

.diferfencials-image:hover {
    opacity: 0.3;
}

/* Video */
.video {
    width: 560px; /*El mismo ancho que el video insertado*/
    margin: 1em auto; /*Esto permite centrar el video dentro del div*/
}

/* 👀 Aquí empiezan los estilos de producto*/
.products {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.products li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*Esto evita que haya un desbordamiento y que el padding sea conciderado dentro del 30% de width que se definió previamente*/
    border: solid 2px black;
    border-radius: 10px;
}

.products li:hover { /* hover captura el movimiento del mouse cuando se posiciona sobre este elemento*/
    border-color: #c78c19;
}

.products li:hover h2{ /* Este estiulo se activa cuando damos clic al elemento*/
    font-size: 33px;
}

.products li:active { /* Este estiulo se activa cuando damos clic al elemento*/
    border-color: #088c19;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.detail-product{
    font-size: 18px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

/* 👀 Aquí empiezan los estilos de contacto*/
/*Form*/

form {
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all; /* sirve para que la transición sea un poco más lenta, el all hace referencia a que debe aplicar para todas las propiedades*/
    cursor: pointer; /* Hace que el cursor cambie a la mano*/
}
.enviar:hover {
    background-color: darkorange;
    transform: scale(1.2) rotate(360deg); /*Permite aumentar el tamaño en 20% cuando el mouse se posiciona encima, el segundo elemento rotate tambien es una función que permite retor el elemento y recibe grados como instrucción*/
}

table {
    margin: 40px 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}


/* Footer */
footer {
    text-align: center;
    background: url(./imagenes/imagenes/bg.jpg); /*Aquí estamos colocando una imagen como fondo*/
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}

/* Mediaqueris */

@media screen and (max-width:480px) {
    main {
        padding: 2px;
    }

    h1{
        text-align: center;
    }

    nav {
        position: static;
    }

    .box ul {
        padding-bottom: 15px;
    }

    .box, .main-section, .map-container, .diferencials-content, .video { /*Ajustando el width a "auto" podemos hacer responsive nuestra página web */
        width: auto;
    }

    .diferencials-list, .diferfencials-image {
        width: 100%;
        margin: 15px 0;
    }

    .products li {
        display: block;
        margin: 10px 0;
    }
    .copyright {
        padding-bottom: 10px;
        margin: 0;
    }
}


/*---------------------------------------------------------------*/
/*Otras notas*/
/*
main > p { // Esto afecta da estilos a todos las etiquetas "p" hijas de main, las "p" de niveles inferiores no las modifica
    estilo
}

img + p { // Esto afecta da estilos a las etiquetas "p" que este despues de la etiqueta "img"
    estilo
}

img ~ p { // Esto da estilo a todas las etiquetas "p" que están despues de las etiquetas "img"
    estilo
}

.principal p:not(#mision) { // Aquí se puede dar estilo a todas las etiquetas "p" dentro de la clase "principal", pero excluyendo las que tienen el #id mision
    estilo
}

img {
    width: calc(40% - (26px * 4) ; // Esto permite establecer el tamaño de un elemento tomando en cuenta un calculo que nosotros le demos
}

*/
