/* Header */
header {
    background: #bbbbbb;
    padding: 20px 0;
}

.box {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase; /*Esto permite que el estilo siempre será en mayúsculas*/
    color: black;
    font-weight: bold; /*Pone el texto en negritas*/
    font-size: 22px;/*Cambia el tamaño del texto*/
    text-decoration: none;/*Elimina el estilo por defecto que da la etiqueta <a> */
}

nav a:hover { /* hover captura el movimiento del mouse cuando se posiciona sobre este elemento*/
    color: #c78c19;
    text-decoration: underline; /* underline subraya el texto*/
}

/* body */

.banner {
    width: 100%; /* una vez que asignamos un ID a un elemento no se puede volver a asignar a otro elemento de la misma página */
}

.main-title{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.main-block p {
    margin: 0 0 1em;
}

.tools {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.main-block strong {
    font-weight: bold;
}

.main-block em {
    font-style: italic;
}

/* Diferenciales */

.diferencials{
    background: white;
    padding: 30px;
}

ul{
    display: inline-block;
    vertical-align: top; /* Esto permite que el texto se alinie a la parte superior y no se quede hasta abajo*/
    width: 20%;
    margin-right: 15%;
}

.list-item{
    font-style: italic;
}

.diferfencials-image{
    width: 60%;
}

/* Footer */
footer {
    text-align: center;
    background: url(./imagenes/imagenes/bg.jpg); /*Aquí estamos colocando una imagen como fondo*/
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}