/*Header*/
header {
    background: #bbbbbb;
    padding: 20px 0;
}

.box {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase; /*Esto permite que el estilo siempre será en mayúsculas*/
    color: black;
    font-weight: bold; /*Pone el texto en negritas*/
    font-size: 22px;/*Cambia el tamaño del texto*/
    text-decoration: none;/*Elimina el estilo por defecto que da la etiqueta <a> */
}

nav a:hover { /* hover captura el movimiento del mouse cuando se posiciona sobre este elemento*/
    color: #c78c19;
    text-decoration: underline; /* underline subraya el texto*/
}

/*Form*/
main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all; /* sirve para que la transición sea un poco más lenta, el all hace referencia a que debe aplicar para todas las propiedades*/
    cursor: pointer; /* Hace que el cursor cambie a la mano*/
}
.enviar:hover {
    background-color: darkorange;
    transform: scale(1.2) rotate(360deg); /*Permite aumentar el tamaño en 20% cuando el mouse se posiciona encima, el segundo elemento rotate tambien es una función que permite retor el elemento y recibe grados como instrucción*/
}

table {
    margin: 40px 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}



/*Footer*/
footer {
    text-align: center;
    background: url(./imagenes/imagenes/bg.jpg); /*Aquí estamos colocando una imagen como fondo*/
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}

