/*Header*/
header {
    background: #bbbbbb;
    padding: 20px 0;
}

.box {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase; /*Esto permite que el estilo siempre será en mayúsculas*/
    color: black;
    font-weight: bold; /*Pone el texto en negritas*/
    font-size: 22px;/*Cambia el tamaño del texto*/
    text-decoration: none;/*Elimina el estilo por defecto que da la etiqueta <a> */
}

nav a:hover { /* hover captura el movimiento del mouse cuando se posiciona sobre este elemento*/
    color: #c78c19;
    text-decoration: underline; /* underline subraya el texto*/
}

/*Form*/
main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}


/*Footer*/
footer {
    text-align: center;
    background: url(./imagenes/imagenes/bg.jpg); /*Aquí estamos colocando una imagen como fondo*/
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}